<settings>
    <mirrors>
        <mirror>
            <id>jboss-public-repository-group-https</id>
            <mirrorOf>jboss-public-repository-group</mirrorOf>
            <name>Jboss public https</name>
            <url>https://repository.jboss.org/nexus/content/groups/public/</url>
        </mirror>
    </mirrors>
    <servers>
        <server>
            <id>github</id>
            <username>jeff-tian</username>
            <password>${env.GH_TOKEN}</password>
        </server>
    </servers>
</settings>
